@{
    ViewBag.Title = "Acerca de";
}
<h2>Aplicacion en ASP.NET con MVC</h2>

<h2>Desarrollada por</h2>
<div>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th> Carnet</th>

        </tr>
        <tr>
            <td>José Adonay Martinez Zelaya</td>
            <td>MZ202573</td>
        </tr>
        <tr>
            <td>Marvin Josué Martínez Burgos</td>
            <td>MB210365</td>
        </tr>

        <tr>
            <td>Irvin Jonathan Hernández Cucufate</td>
            <td>HC192585</td>
        </tr>
        <tr>
            <td>Edgardo Giovanni Cortez Valladares</td>
            <td>CV211195</td>
        </tr>
        <tr>
            <td>Daniel Alejandro Orellana Velásquez</td>
            <td>OV201714</td>
        </tr>
        
    </table>
</div>
   